/csharp-lox/.vs/
/csharp-lox/csharp-lox/obj/
/csharp-lox/csharp-lox/bin/

/csharp-lox/csharp-lox.tool/obj/
/csharp-lox/csharp-lox.tool/bin/

/csharp-lox/csharp-lox.model/obj/
/csharp-lox/csharp-lox.model/bin/